body {
  font-family: Roboto;
  color: rgb(15, 20, 25);
  font-size: 15px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}
.user-name {
  margin-right: 20px;
  color: rgb(15, 20, 25);
  font-weight: 700;
}
.user-email {
  color: rgb(83, 100, 113);
}
.post-title {
  text-transform: uppercase;
  font-weight: 400;
}

input {
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 4px;
  margin-right: 10px;
  outline: none;
}
.change-title{
  margin-top: 15px;
}
.change-text{
  width: 100%;
  margin-top: 10px;
}
button {
  color: #fff;
  background-color: #0066cc;
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 20px;
  transition: 776ms;
  transform: translateY(0);
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  transition: 776ms;
  padding: 10px 33px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #0066cc;
  border: solid 2px #0066cc;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  min-height: 250px;
  position: fixed;
  z-index: 2;
  top: 20%;
  transform: translateX(50%);
  right: 50%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.modal input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}
#modal-text{
  width: 70%;
  margin-top: 10px;
}
.btn {
  font-weight: 700;
  margin-top: 10px;
}

.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
}
.btn-open{
  border-radius: 4px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}
